* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff url(../img/bg.gif) no-repeat left top;
  font-family: Verdana, sans-serif;
}

html {
  overflow-y: scroll;
}

/* h1, h2, h3, h4, h5, h6 {

} */

p,
li,
dt,
dl {
  line-height: 1.6;
  margin: 10px;
}

p {
  margin: 0 0 1em 0;
}

li {
  list-style-type: none;
}

img {
  border: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

address {
  font-style: normal;
}

i {
}

.clear {
  clear: both;
}

.add-record-btn {
  /* position: fixed;
  bottom: 50px;
  right: 50px; */
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  width: 80px;
  height: 80px;
  font-size: 20px;
  opacity: 0.5;
  /* z-index: 2; */
}

.add-record-btn:hover {
  opacity: 1;
}

/* header */
.navbar {
  background-color: #007bff;
  height: 60px;
  margin-bottom: 40px;
  color: #fff;
}

/* highlight */

.foodpic-highlight {
  display: flex;
  overflow-x: scroll;
  margin: 0;
  padding: 0;
}

.card {
  min-width: 25%;
  margin: 10px;
  padding: 0;
  list-style: none;
}

.highlight-item {
  background-color: #007bff;
  border-radius: 20px;
  padding: 10px;
  max-width: 300px;
  color: #fff;
}

/* profile  */

.user-img {
  border: 0;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  background-color: gray;
}

.user-info {
  background-color: #e9ecef;
  padding: 20px;
}
